.header h1 {
    margin-top: 25px;
    text-align: center;
}

.header p {
    margin-bottom: 0;
    font-weight: 300;
    line-height: 1.4;
}

.page-header {
    margin-right: 25px;
}

.media-object {
    width: 128px;
    height: 128px;
    border-radius: 5px;
}

.media .thumbnail {
    display: inline-block;
    margin-bottom: 0;
}

.media-list {
    text-align: center;
}

@media (min-width: 450px) {
    .media-list {
        text-align: left;
    }

    .media .thumbnail {
        float: left;
        margin-right: 25px;
    }
}

.media:first-child {
    margin-top: 15px;
}

.btn-outline {
    color: #563d7c;
    background-color: transparent;
    border-color: #563d7c;
}

.btn-outline:hover,
.btn-outline:focus,
.btn-outline:active {
    color: #fff;
    background-color: #563d7c;
    border-color: #563d7c;
}

a {
    color: #563d7c;
}

a:hover,
a:focus {
    color: #1d1429;
}

a.thumbnail:hover,
a.thumbnail:focus,
a.thumbnail.active {
    border-color: #563d7c;
}
