<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>My address book</title>
    <link href="lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet">
    <link href="css/main.css" rel="stylesheet">
</head>
<body>
    <!-- Main -->
    <header class="header">
        <div class="container">
            <h1>My address book</h1>
        </div>
    </header>
    <div class="container">
        <div class="row">
            <div class="col-xs-12 main-container">
            </div>
        </div>
    </div>

    <!-- Templates -->
    <!-- Contacts -->
    <script type="text/template" id="tpl-contacts">
        <table style="width:100%">
            <tr>
                <td>
                    <a href="#contacts" class="page-header text-center"
                        <h2>List of contacts</h2>
                    </a>
                </td>
                <td>
                    <a href="#favorites" class="page-header text-center"
                        <h2>Favorites</h2>
                    </a>
                </td>
                <td>
                    <p class="text-center">
                        <a class="btn btn-lg btn-outline sort-by-first-name">Sort by first name</a>
                    </p>
                </td>
                <td>
                    <p class="text-center">
                        <a class="btn btn-lg btn-outline sort-by-tel">Sort by tel</a>
                    </p>
                </td>
        </table>
        <p class="text-center">
            <a href="#contacts/new" class="btn btn-lg btn-outline">Add Contact</a>
        </p>
        <ul class="media-list row contacts-container"></ul>
    </script>
    <!-- Contact -->
    <script type="text/template" id="tpl-contact">
        <div class="media-heading">
            <h3>
                <%- firstName %> <%- lastName %>
                <small>
                    <a href="#contacts/open/<%- id %>"><span class="glyphicon glyphicon-eye-open"></span></a>
                    <a href="#contacts/delete/<%- id %>" class="delete-contact"><span class="glyphicon glyphicon-trash"></span></a>
                    <a href="#contacts/changeIsFavorite/<%- id %>">
                        <%= isFavorite ? '<span class="glyphicon glyphicon-star"></span>' : '<span class="glyphicon glyphicon-star-empty"></span>' %>
                    </a>
                </small>
            </h3>
        </div>
        <div class="media-body">
            <dl>
                <dt>Phone Number:</dt>
                <dd><%- tel %></dd>
            </dl>
        </div>
        <hr>
    </script>
    <!-- Contact form -->
    <script type="text/template" id="tpl-new-contact">
        <h2 class="page-header text-center"><%= isNew ? 'Create' : 'Edit' %> contact</h2>
        <form role="form" class="form-horizontal contract-form">
            <div class="form-group">
                <label class="col-sm-4 control-label">First name:</label>
                <div class="col-sm-6">
                    <input required type="text" class="form-control contact-first-name-input" value="<%- firstName %>">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-4 control-label">Last name:</label>
                <div class="col-sm-6">
                    <input type="text" class="form-control contact-last-name-input" value="<%- lastName %>">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-4 control-label">Email address:</label>
                <div class="col-sm-6">
                    <input type="email" class="form-control contact-email-input" value="<%- email %>">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-4 control-label">Telephone number:</label>
                <div class="col-sm-6">
                    <input type="tel" class="form-control contact-tel-input" value="<%- tel %>">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-4 control-label">Day of birth:</label>
                <div class="col-sm-6">
                    <input type="date" class="form-control contact-dob-input" value="<%- dob %>">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-4 control-label">Description:</label>
                <div class="col-sm-6">
                    <input type="text" class="form-control contact-description-input" value="<%- description %>">
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-offset-4 col-sm-3">
                    <button type="submit" class="btn btn-outline btn-lg btn-block">Submit</button>
                </div>
                <div class="col-sm-3">
                    <a href="#contacts" class="btn btn-outline btn-lg btn-block">Cancel</a>
                </div>
            </div>
        </form>
    </script>

    <!-- Scripts -->
    <script src="lib/jquery.js"></script>
    <script src="lib/underscore.js"></script>
    <script src="lib/backbone.js"></script>
    <script src="app/app.js"></script>
    <script src="app/models/contact.js"></script>
    <script src="app/collections/contacts.js"></script>
    <script src="app/collections/favoriteContacts.js"></script>
    <script src="app/views/contact.js"></script>
    <script src="app/views/contacts.js"></script>
    <script src="app/views/contactForm.js"></script>
    <script src="app/router.js"></script>
    <script>
        $(function() {
            AddressBook.start({
                contacts: [
                    {
                        id: 1,
                        firstName : 'Pinkie',
                        lastName : 'Moscoso',
                        tel: '+380 (93) 123-34-45',
                        email: 'Pinkie@Moscoso.com',
                        dob: '1980-04-30',
                        description: 'SEO Moscoso & Co',
                        isFavorite: false
                    },
                    {
                        id: 2,
                        firstName : 'Laurena',
                        lastName : 'Olmedo',
                        tel: '+380 (63) 467-33-76',
                        email: 'Laurena@Olmedo.com',
                        dob: '1980-04-30',
                        description: 'Boss',
                        isFavorite: false
                    },
                    {
                        id: 3,
                        firstName : 'Michael',
                        lastName : 'Risner',
                        tel: '+380 (93) 899-34-43',
                        email: 'Michael@Risner.us',
                        dob: '1980-04-30',
                        description: 'Best friend',
                        isFavorite: true
                    },
                    {
                        id: 4,
                        firstName : 'Celinda',
                        lastName : 'Broadbent',
                        tel: '+380 (66) 352-81-66',
                        email: 'Celinda@Broadbent.com',
                        dob: '1980-04-30',
                        description: 'Wife',
                        isFavorite: true
                    },
                    {
                        id: 5,
                        firstName : 'Dusty',
                        lastName : 'Bolton',
                        tel: '+380 (63) 190-00-01',
                        email: 'Dusty@Bolton.com',
                        dob: '1980-04-30',
                        description: 'Men from pub',
                        isFavorite: true
                    },
                    {
                        id: 6,
                        firstName : 'Emmitt',
                        lastName : 'Matamoros',
                        tel: '+380 (67) 666-77-45',
                        email: 'Emmitt@Matamoros.com',
                        dob: '1980-04-30',
                        description: 'Who is it?',
                        isFavorite: false
                    },
                    {
                        id: 7,
                        firstName : 'Duncan',
                        lastName : 'Rominger',
                        tel: '+380 (68) 155-32-11',
                        email: 'Duncan@Rominger.com',
                        dob: '1980-04-30',
                        description: 'Son',
                        isFavorite: true
                    },
                    {
                        id: 8,
                        firstName : 'Diana',
                        lastName : 'Ranee',
                        tel: '+380 (99) 327-77-34',
                        email: 'Diana@Ranee.com',
                        dob: '1980-04-30',
                        description: 'Daughter',
                        isFavorite: false
                    },
                    {
                        id: 9,
                        firstName : 'Kenyatta',
                        lastName : 'Scouten',
                        tel: '+380 (93) 784-33-79',
                        email: 'Kenyatta@Scouten.com',
                        dob: '1980-04-30',
                        description: '',
                        isFavorite: true
                    },
                    {
                        id: 10,
                        firstName : 'Emely',
                        lastName : 'Zachary',
                        tel: '+380 (93) 932-29-58',
                        email: 'Emely@Zachary.com',
                        dob: '1980-04-30',
                        description: '',
                        isFavorite: true
                    }
                ]
            });
        });
    </script>
</body>

</html>
